
*{ 
  background-color: white;
}



.App {
  text-align: center;
  border: 1px solid black;
  margin: auto auto;
  height: 80%;
  width: 50%;
  margin-top: 20%;
  padding-bottom: 1rem;

 
}

.login-submit-btn {
  margin-top: 1rem;
  background-color: black;
  color: white;
}
.login-input-container {
  

  flex-flow: row;
  align-items: stretch;
  justify-content:flex-start;
  

}

/* // login// login// login// login// login// login// login. */


.login-header {
  color: white;
  font-size: 0.5rem;
  background-color: BLACK;
  padding: 0.5rem;
}
.login-input {
  
  width: 50%;
  height: 10%;;
  align-items: flex-start;
  
}
.login-email-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom:0.1rem;
 
 
}


.login-password-label {
  margin-left: 20px;
}
.login-password-input, .login-email-input{
  margin-right: 20px;

}

.login-pw-container {

 display: flex;
 align-items: flex-start;
 justify-content: space-between;

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* MENU STYLING //// MENU STYLING //// MENU STYLING //// MENU STYLING //// MENU STYLING ////*/

.app-menu-container{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.app-menu-container a {
  text-decoration: none;
  font-size: 0.5rem;
  background-color: black;
  color: white;
}

.menu-header{ 

  font-size: 1rem;
  
}