
*{ 
  background-color: #61dafb;
}



.App {
  text-align: center;
  border: 1px solid black;
  margin: auto auto;
 
}
.login-input-container {
  

  flex-flow: row;
  align-items: stretch;
  justify-content:flex-start;
  border: 1px solid green;
  margin: 0 auto;
}



.login-input {
  
  width: 50%;
  height: 10%;;
  align-items: flex-end;
  
}
.login-email-container {

  align-items: space-between;
}

.login-pw-container {
  align-items: flex-end;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
